#!/usr/bin/make -f

UPSTREAM_GIT := https://opendev.org/openstack/octavia-tempest-plugin
include /usr/share/openstack-pkg-tools/pkgos.make

%:
	dh $@ --buildsystem=pybuild --with python3

override_dh_auto_configure:
	echo "Do nothing..."

override_dh_auto_clean:
	python3 setup.py clean
	rm -rf build .stestr *.egg-info .pybuild .cache .config octavia_tempest_plugin/contrib/test_server/test_server.bin
	find . -iname '*.pyc' -delete
	for i in $$(find . -type d -iname __pycache__) ; do rm -rf $$i ; done

override_dh_auto_test:
	echo "Do nothing..."

override_dh_auto_install:
	echo "Do nothing..."

override_dh_auto_build:
	XDG_CACHE_DIR=$(CURDIR) HOME=$(CURDIR) CGO_ENABLED=0 GOOS=linux GOPROXY=off GOTOOLCHAIN=local go build -trimpath -a -ldflags '-s -w -extldflags -static' -o  $(CURDIR)/octavia_tempest_plugin/contrib/test_server/test_server.bin $(CURDIR)/octavia_tempest_plugin/contrib/test_server/test_server.go
	echo "Do nothing..."

override_dh_install:
	pkgos-dh_auto_install --no-py2 --in-tmp

#ifeq (,$(findstring nocheck, $(DEB_BUILD_OPTIONS)))
#	pkgos-dh_auto_test --no-py2
#endif

	dh_install
	dh_missing --fail-missing
	# This source-built Go server is copied into test guests (including CirrOS).
	# Its intentional static linkage avoids depending on the build host libc.
	install -d debian/octavia-tempest-plugin/usr/share/lintian/overrides
	printf '%s\n' '# Source-built portable guest server; see contrib/test_server/README.rst.' 'octavia-tempest-plugin: statically-linked-binary [usr/lib/python3/dist-packages/octavia_tempest_plugin/contrib/test_server/test_server.bin]' > debian/octavia-tempest-plugin/usr/share/lintian/overrides/octavia-tempest-plugin

override_dh_python3:
	dh_python3 --shebang=/usr/bin/python3

# This helper imports only the Go standard library. Fail if that changes so
# Static-Built-Using cannot silently omit a newly vendored dependency.
override_dh_gencontrol:
	test "$$(XDG_CACHE_DIR=$(CURDIR) HOME=$(CURDIR) CGO_ENABLED=0 GOPROXY=off GOTOOLCHAIN=local go list -deps -f '{{if not .Standard}}{{.ImportPath}}{{end}}' octavia_tempest_plugin/contrib/test_server/test_server.go | sed '/^$$/d')" = command-line-arguments
	dpkg-query --show --showformat='misc:Static-Built-Using=$${source:Package} (= $${source:Version})\n' "$$(dpkg-query --search "$$(realpath "$$(go env GOROOT)/src/runtime/runtime.go")" | cut -d: -f1)" >> debian/octavia-tempest-plugin.substvars
	dh_gencontrol
